.Training {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.trainingNav {
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
}

.trainingSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.search {
  font-weight: bolder;
  padding: 1%;
}
