.Contact {
  width: 100%;
  height: 100%;
  padding-left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
}

textarea {
  width: 50%;
  height: 15vh;
}
