.Main {
  background-color: #c9ebf0;
  /* background-color: violet; */
  width: 89%;
  min-height: 100%;
}
@media only screen and (max-width: 756px) {
  .Main {
    width: 100%;
  }
}
.MainOff {
  opacity: 0;
}
