.Navbar {
  // background-color: rgb(165, 163, 22);
  width: 11%;
  min-height: 100%;
}
.navBar {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  position: fixed;

  li {
    padding: 15%;
    font-weight: bold;
    p{
     font-size: clamp(1em, 1vw, 2.5em); 
    }
    

    .selected {
      color: red;
      font-size: larger;
      font-weight: bolder;
    }
  }
 
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .navBar {
    margin-left: 1vw;
  }
}
@media only screen and (max-width: 756px) {
  .navBar, .NavBar {
    display: none;
  }
}

.link-nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: #11100f;
}


.iconsContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .contactIcon {
    width: clamp(2em, 2vw, 3em);
    margin: 0.7vh 0.7vw;
  }

  .contactIcon:hover {
    transform: scale(2);
  }
}
@media only screen and (max-width: 756px) {
  .iconsContainer {
    margin-right: 7.5%;
    margin-top: 4%;
  }
}